modules = ["nodejs-18", "web", "bash"]
run = "npm run dev"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Development Server"

[[workflows.workflow]]
name = "Development Server"
author = 46750067
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
